---
import Footer from "../components/Footer.astro";
import App from "../components/islands/App";
import Layout from "../layouts/Layout.astro";
const title = "Transaction Fee Calculator";
const description = "Find out how much you'll make after card processing fees";
const keywords = [""];
---

<Layout title={title} description={description} keywords={keywords}>
    <main class="min-h-screen bg-white text-lg min-w-screen pb-2">
        <h1 class="text-xl">
            Need to find out how you'll make after card processing fees? Try the <span
                class="font-bold text-2xl text-blue-500"
                >Transaction Fee Calculator</span
            >
        </h1>
        <p class="text-gray-500">
            This calculator will help you find out how much you'll make after
            card processing fees.
        </p>
        <App client:only />
        <!-- <Footer /> -->
    </main>
</Layout>
