---
import "@fontsource/inter";
export interface Props {
    title: string;
    description: string;
    keywords: string[];
}

const { title, description, keywords } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <meta name="description" content={description} />
        <meta name="keywords" content={keywords.join(",")} />
        <title>{title}</title>
    </head>
    <body class="bg-white px-6 pt-6 flex justify-center">
        <slot />
    </body>
</html>
